<div>
  <div>
    <p>Reset password</p>
    <p>For User email: {{modifiedCredentials.user.email}}</p>
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="savePassword()">
      <div>
        <mat-form-field>
          <input matInput placeholder="your Password" type="password" formControlName="currentPassword">
          <mat-error>
            <field-validation [control]="changePasswordForm.controls.currentPassword"></field-validation>
          </mat-error>
        </mat-form-field>
      </div>
      <app-passwords [passForm]="changePasswordForm"></app-passwords>
    <div>
      <button mat-raised-button type="button" [routerLink]="['..']">Back</button>
      <button mat-raised-button type="submit" [disabled]="changePasswordForm.untouched">Save</button>
    </div>
  </form>
</div>
