<div [formGroup]="passForm">
  <div formGroupName="passwords">
  <div>
    <mat-form-field>
      <input matInput placeholder="new password" type="password" formControlName="password">
      <mat-error>
        <field-validation [control]="passForm.controls.passwords.controls.password"></field-validation>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="confirm new password" type="password" formControlName="confirmPassword">
      <mat-error>
        <field-validation [control]="passForm.controls.passwords.controls.confirmPassword"></field-validation>
      </mat-error>
    </mat-form-field>
  </div>
  </div>
</div>
