table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-column-select {
  overflow: initial;
}


.mat-raised-button{
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

